<div class="container">

	<div class="block-header">
		<h2>Role</h2>
	</div>

	<div class="card">
		<div class="card-header">
			<h2>
				Roles <small></small>
			</h2>
		</div>

		<!-- 角色列表，默认显示 -->
		<div class="card-body card-padding" data-ng-show="variables.operate == 'listRole'">
			
		</div>

		<!-- 新增、编辑角色 -->
		<div class="card-body card-padding" data-ng-show="variables.operate != 'listRole'">

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group fg-float m-b-30">
						<div class="fg-line fg-toggled">
							<input type="text" class="input-sm form-control fg-input" data-ng-model="variables.role.name"> <label class="fg-label">Role Name</label>
						</div>
					</div>
					<div class="form-group fg-float m-b-30">
						<div class="fg-line fg-toggled">
							<input type="text" class="input-sm form-control fg-input" data-ng-model="variables.role.description"> <label class="fg-label">Role Description</label>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="treeBox" style="width: 200; height: 200"></div>
				</div>
			</div>


		</div>




	</div>
</div>
